{% extends "admin.layout.html.twig" %}

{% block stylesheets %}
    <link rel = "stylesheet" type="text/css" href="{{ assets('assets/css/home.css')}}" />
{% endblock %}


{% block body %}

    
<h1 class="text-center mt-5">Bienvenue sur l'administration de rentCar</h1>


{% endblock %}