{% extends "admin.layout.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/admin.css')}}">
{% endblock %}

{% block body %}


<h1 class="text-center mt-5">Bienvenue sur l'administration de rentCar</h1>
 


{% endblock %}