{% extends "layout.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/admin.css')}}">
{% endblock %}

{% block nav %}

<header class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="brand d-flex align-items-center">
            <img style="width: 60px; height: 60px;" src="{{ assets('/assets/img/logo.png') }}" alt="logo">
            <a class="navbar-brand" href="/">RentCar</a>  
        </div>
    </nav>
</header>

{% endblock %}


{% block body %}


<form method="POST" action="" class="row align-items-center card p-4" style="max-width: 500px;">
    <h5 style="text-align: center;" class="mb-4">Connexion administrateur</h5>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
        <input type="text" name="mail" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Mot de passe</span>
        <input type="password" name="mdp" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    {{ csrf() }}
    <input type="submit" style="width: auto" class="btn btn-dark" value="Se connecter">
</form>


{% endblock %}
