main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    min-width: 100dvw;
    background-color: dimgray;
}

.brand{

    margin-left: 12px;
}
