{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel = "stylesheet" href="{{ assets('/assets/css/admin.css')}}" />
{% endblock %}

{% block body %}
<h1 class="mb-5">Liste des marques</h1>

<table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col">Marque</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for marque in marques %}
        <tr>
            <td>{{ marque.name }}</td>
            <td>
                <a class="text-light" style="text-decoration: none; text-transform:uppercase;" href="{{ path('marque.update', {id: marque.id}) }}">Modifier</a>
                <a class="text-light" style="text-decoration: none; text-transform:uppercase;" href="{{ path('marque.delete', {id: marque.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}