{% extends "admin.layout.html.twig" %}

{% block stylesheet %}
    <link rel = "stylesheet" href="{{ assets('/assets/css/admin.css')}}" />
{% endblock %}

{% block body %}
<!-- La méthode POST récupére le 'name' de l'input
    enctype="multipart/form-data" permet de récuperer l'image envoyer
     // Obligatoire pour récupérer un fichier -->

<form method="POST" action="" class="card p-4" style="max-width: 500px;" enctype="multipart/form-data">

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Ancienne Marque</span>
        <input type="text" name="name" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" value="{{ marque.name }}">
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Nouvelle Marque</span>
        <input type="text" name="name" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" value="">
    </div>

    <input type="submit" value="Modifier" />
</form>

{% endblock %}